@import "variables";

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
} 


body {
    //background-color:  #00001a;
    //background-color: #4b3b46;
    background-color: #4b3b46;
    background-color: $bg;
    font-family: 'League Spartan', sans-serif;
    min-height: 100vh;
}

main {
    width: 100%;
} 

.main-container {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    margin: 0 auto;

    @include max($bp-tablet-px){
        display: block;
     }
}




.main-content{
    width: 100%;
    //margin-top: 4rem;
    display: flex;
    flex-direction: column;
    min-height: 70vh;

    @include max($bp-tablet-px){
        
       max-width: 85%;
       margin: 0 auto;
       //margin-top: 2rem;
    }
}


.no-scroll {
    display: none;
}

h1, h2, h3, p{
    color: $green;
}

h1 {
    padding-top: 5rem;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 3rem;
    font-size: clampRem(18, 28, $bp-mobile, $bp-regular);
    font-weight: 400;
    @include max($bp-tablet-px){
        margin-bottom: 3rem;
        padding-top: 2rem;
        text-align: center;
    }
}

h2 {
    margin: 1rem 0;
    font-weight: 400;
    font-size: clampRem(16, 20, $bp-mobile, $bp-regular);
    @include max($bp-tablet-px){
        margin: 1rem 0;
    }
}

p, a {
    line-height: 1.3;
    font-size: clampRem(15, 18, $bp-mobile, $bp-regular);
}

.p-mb{
    margin-bottom: 3rem;
}

span {
    font-size: clampRem(15, 18, $bp-mobile, $bp-regular);
    font-weight: 600;
}

.container {
    width: 75%;
}


.bonus {
    text-align: center;


    a {
        
        color: white;
    }
}