@import "base";

.booking-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;

    div {
      width: 80%;
      display: flex;
      flex-direction: column;
      
      span {
        color: $blue;
        font-weight: 400;
        font-size: clampRem(12, 16, $bp-mobile, $bp-regular);
        margin-top: 0px;
      }

      img {
        width: 100%;
        margin-bottom: 0;
      }
    }

    a {
      color: $green;
      margin-top: 2rem;
    }

    

  }