@import "base";

header {
  //background-image: linear-gradient(0deg, rgba(0,0,26,1), rgba(0,0,0,0) 15%), url(${headerBg});
  //background: -webkit-linear-gradient(90deg, rgba(0,0,26,1),rgba(0,0,0,0) 15%), url(${headerBg});
  //background-image: url('../assets/images/bgpink.png');
  background-size: cover;
  background-position: bottom;
  //width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

      background: url('../assets/icons/noise-light.png'), $bg ;  
      //background:  #bfbfba ;  


  .logo-mask {
    mask-type: alpha;
    width: 50%;
    height: 400px; /* adjust as needed */
    position: relative;
    -webkit-mask-image: url("../assets/icons/svg5.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    mask-image: url("../assets/icons/svg5.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background: transparent;
    overflow: hidden;
  }
  .logo {
    width: clampRem(120, 150, $bp-mobile, $bp-regular);
  }

  .home-video {
    width: clampRem(280, 800, $bp-mobile, $bp-regular);

    iframe {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }

  .ep-link {
    width: clampRem(250, 250, $bp-mobile, $bp-regular);

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  h1 {
    font-size: clampRem(20, 25, $bp-mobile, $bp-regular);
    font-weight: 500;
    //margin-bottom: 3rem;
  }

  .scrollto {
    display: inline-block;
    bottom: 5%;
    background-image: url(../assets/svg/down-arrow.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }

  .ep-link,
  .scrollto,
  img {
    cursor: pointer !important;
  }
}
