@import "base";

.merch {
  

  .merchandise-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 40px;
  }

  .merchandise-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2rem;
    width: calc(90% / 2 - 40px);
    min-width: 350px;

    @include max(1002px){
      width: 80%;
      min-width: 175px;
    }

    margin-bottom: 3rem;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.05);
    transition: background-color ease-in-out 0.5s;
    position: relative;

    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 20px;
      background: rgb(0, 0, 26);
      background: -webkit-linear-gradient(130deg, rgba(0,0,26,0) 0%, rgba(0,27,92,0) 42%, rgba(119, 98, 112, 0.843));
      background: linear-gradient(130deg, rgba(0,0,26,0) 0%, rgba(0,27,92,0) 42%, rgba(119, 98, 112, 0.843));
      transition: opacity 0.4s linear;
      opacity: 0;
    }
    &:hover::before {
      opacity: 0.5;
    }

    .merchandise-img {
      img {
        width: 100%;
        max-width: none;
      }
    }
    .merchandise-description {

      width: 100%;

      h2 {
        margin-top: 0;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
      
      }

      h2,
      p,
      a {
        margin-right: 20px;
      }

      a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 600;
      }

      a:hover {
        color: #baa4b9;;
      }

      .underline {
        position: relative;
      }

      .underline::before {
        content: "";
        position: absolute;
        bottom: -2px;
        right: 0;
        width: 0;
        height: 1px;
        background-color: #baa4b9;;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      }

      @media (hover: hover) and (pointer: fine) {
        .underline:hover::before {
          left: 0;
          right: auto;
          width: 100%;
        }
      }
    }
  }
}