@import "base";

#symbionts {

  h1 {
@include max($bp-tablet-px) {
    margin-bottom: 1rem;
    }

  }
  .symbionts-content {
    display: flex;
    gap: 2rem;

    @include max($bp-tablet-px) {
      flex-direction: column;
    }
  }

  .symbionts-cover {
    background-image: url("../assets/images/Karaba-FC-Pochette-Symbionts_Digital_FRONT.png");
    background-size: cover;
    background-position: center;

    aspect-ratio: 1 / 1;
    width: calc(100% / 2 - 2rem);

    @include max($bp-tablet-px) {
      width: 100%;
      max-width: 400px;
      align-self: center;
    }
  }

  .symbionts-description {
    width: calc(100% / 2 - 2rem);
    text-align: center;
    height: fit-content;
    padding: 2rem;
    //background-color: rgba(255, 255, 255, 0.1);

    @include max($bp-tablet-px) {
      width: 100%;
      padding: 0;
    }

    h2 {
      font-size: clampRem(25, 28, $bp-mobile, $bp-regular);
      font-weight: 300;
      margin-top: 0;
    }



    p {
            font-size: clampRem(16, 18, $bp-mobile, $bp-regular);

    }

    a {
      color: $purple;
      font-size: clampRem(16, 22, $bp-mobile, $bp-regular);
      text-decoration: none;
      //font-size: clampRem(18, 20, $bp-mobile, $bp-regular);
       transition: all 1s ease;
    }

    /* CSS */
    .button-87 {
       transition: all 1s ease;
      width: 100%;
      padding: 0.5rem 0rem;
      text-align: center;
      text-transform: lowercase;
      transition: 0.5s;
      background-size: 100% auto;
      color: $green;
      //border-radius: 10px;
      display: block;
      border: 0px;
      font-weight: 300;
      //box-shadow: 0px 0px 14px -7px #f09819;
      background-image: linear-gradient(
        90deg,
        $bg 0%,
        white 50%,
        $bg 100%
      );
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      transition: all 1s ease;
    }

    .button-87:hover {
      background-position: center;
      /* change the direction of the change here */
      color: $green;
      text-decoration: none;
      background-size: 200% auto;
      //font-weight: 500;
      transition: all 1s ease;
    }

    .button-87:active {
      transform: scale(0.95);
    }
  }
  

  .video {
    margin-top: 0;
  }
}
